<ul id="slide-out" class="sidenav sidenav-fixed col s3">
  <li>
    <div class="user-view">
      <div class="background">
        <!--<img src="">-->
      </div>
      <a href="{% url 'index' %}"><span class="name">SHOP TITLE</span></a>
    </div>
  </li>
  <li><div class="divider"></div></li>
  <li><a class="waves-effect" href="{% url 'index' %}">Home</a></li>
  <li><a class="waves-effect" href="{% url 'about' %}">About</a></li>
  <li><a class="waves-effect" href="{% url 'contacts' %}">Contacts</a></li>
</ul>